* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
    height: 100px;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.yellowbox {
    background-color: yellow;
    height: 600px;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.bluebox {
    width: 1200px;
    height: 530px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: blue;
    content: "";
    display: table;
    clear: both;    
}

.horizontal_blue {   
    width: 1200px;    
    background-color: aqua;
    height: 100px;
}

.colsx_blue {
    float: left;
    background-color: aqua;
    height: 400px;
    width: 185px;
    margin-top: 15px;
}

.colcentral_blue {
    float: left;
    background-color: aqua;
    height: 400px;
    width: 800px;
    margin-left: 15px;
    margin-top: 15px;
}

.coldx_blue {
    float: left;
    background-color: aqua;
    height: 400px;
    width: 185px;
    margin-top: 15px;
    margin-left: 15px;
}

footer {
    width: 1200px;    
    background-color: purple;
    height: 100px;
    margin: auto; 
    margin-bottom: 20px;   
}